<div class="page-call">
  <div id="controls">
    <button mat-flat-button color="warn" (click)="leaveRoom()">
      <mat-icon>call_end</mat-icon>
    </button>
  </div>
  <div class="grid-system" #remoteVideosContainer></div>
  <div class="box-video" [class.empty-room]="users.size == 0">
    <video
      class="video-local"
      #videoElementLocal
      autoplay
      muted
      playsinline
      [muted]="true"
      [autoplay]="true"
      [playsInline]="true"
    ></video>
  </div>
</div>
