.page-call {
  width: 100%;
  height: 100vh;
  background: #1b181c;
  position: relative;

  .grid-system {
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.25rem;
    height: 100%;
    align-items: center;
    margin: 0 auto;

    @media (max-width:1000px) {
      max-width: 100%;
      margin: 0;
    }
  }

  .card-video {
    width: 100%;
    height: 100%;
    max-width: 850px;
    max-height: 500px;
    margin: 0 auto;
    position: relative;

    .name-user{
      position: absolute;
      left: 10px;
      bottom: 5px;
      color: #fff;
      font-size: 12px;
    }

    .responsive-video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  #controls {
    z-index: 20;
    position: absolute;
    bottom: 5%;
    width: 200px;
    height: 60px;
    left: 50%;
    border-radius: 5px;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
    justify-content: center;

    mat-icon {
      margin: 0;
    }
  }

  .box-video {
    z-index: 10;
    position: absolute;
    bottom: 5%;
    right: 3%;
    width: 200px;
    height: 120px;
    background: rgb(0, 0, 0, 0.8);
    border-radius: 5px;
    transition: all 1s;
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.3),
      0 4px 8px 3px rgba(60, 64, 67, 0.15);

    @media (max-width: 568px) {
      width: 100px;
    }

    &.empty-room {
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
    }

    .video-local {
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }
  }
}
